* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.logo {
    position: relative;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border-left: 40px solid #fbbc05;
    border-right: 40px solid #438586;
    border-top: 40px solid #ec4336;
    border-bottom: 40px solid #34a856;

}

.logo:before {
    content: '';
    position: absolute;
    top: -150%;
    right: -150%;
    border-top: 110px transparent ;
    border-right: 110px solid #fff;
    border-bottom: 110px solid transparent;
    border-left: 110px solid transparent;
    transform: rotate(90deg);

}
